---
import Layout from '../../layouts/Layout.astro';
import Sidebar from '../../components/Sidebar.astro';
import DescriptionTemp from '../../components/DescriptionTemp.astro';
import Socials from '../../components/Socials.astro';
// Variables

const {
    title = "Navigation Bar",
    tabs = ["Description"]
} = Astro.props;
---

<Layout title = {title}>
</Layout>

<body>
    <Sidebar weblink ="/" tab="mechanics"/>
    <div class="tab">
        <h2 style="margin-left: 16px;">{title}</h2>
        <div class="tab-buttons">
        {tabs.map((tab: string, index: number) => (
            <button data-tab={tab} class={index === 0 ? 'active' : ''}>{tab}</button>
        ))}
        </div>
        <div class="tab-content active" id="Description">
            <DescriptionTemp preImageTitle="Compass and Markers"
            preImageDescription="A compass bar made in Unreal Engine using C++ and Slate, extended by additional marker functionality."
            image="/images/Mechanics/Navigation.png"
            imageSpecifier="Navigation bar and markers in-editor view."
            postImageDescription="The UI element has been fully implemented in C++ using Slate, making it highly performant. It communicates with the player blueprint and runtime instances of objects with an target-actor component on them. 
            The communication passes through a UMG Widgetwrapper class, forward variables like settings in-editor and positions runtime to the slate widget.
            Additionally the line of sight between the player and the target is used to determine the visibility of the marker-representatives in 3D space."
            />
        </div>
    </div>
    <Socials/>
</body>

<!-- JavaScript for tab functionality -->
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const tabButtons = document.querySelectorAll<HTMLButtonElement>('.tab-buttons button');
		const tabContents = document.querySelectorAll<HTMLElement>('.tab-content');

		tabButtons.forEach(button => {
			button.addEventListener('click', () => {
				const tab = button.dataset.tab as string;

				tabButtons.forEach(btn => btn.classList.remove('active'));
				tabContents.forEach(content => content.classList.remove('active'));

				button.classList.add('active');

				document.getElementById(tab)?.classList.add('active');
      		});
    	});
});
</script>